*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.announcment-bar{
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
}
.header-section{
    background-color:#121212;
    height: 40px;
    padding: 11px 0px;
    text-align: center;
    border-bottom:1px solid #312f2f;
    letter-spacing: 1px;

}
.header-section span{
    padding-left: 7px;
}
.header-section:hover{
    background-color: #212020;
    .fa-arrow-right{
        font-size: 14px;
    }
}
.sticky-header{
    height: 90px;
    background: #121212;
    position: sticky;
    top: 0;
    z-index: 20px;

}
.sticky-header .container{
    margin: 0px 100.4px;
    padding: 20px 55px;
    display: flex;
}
.container .left{
    align-items: flex-start;
    padding: 15px;
}
.container .left img{
    width: 120px;
    height: 26px;
}
.list-1{
    display:flex;

}
.list-1 li{
    display: flex;
    justify-content: center;
    padding: 15px 18px;
}

.list-2 {
    display: flex;
}
.list-2 li {
    display: flex;
    justify-content: center;
    align-content:center ;
    padding-left: 10px;
    padding-top: 8px;
    box-sizing: border-box;
    font-size: 22px;
}



li a{
    text-decoration: none;
     color: #ffffff;
     padding-top: 6px;
}

.sticky-header .list-2 span{
    padding-left: 15px;
}
.sticky-header nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-md{
    background-color:#121212;
    height: 50px;
    padding: 15px 20px;
    border-bottom:1px solid #ffffff;
    position: sticky;
    top: 0;

}
.container-1{
    display: flex;
    justify-content: space-between;
}
.container-1 img{
    width: 120px;
    height: 20px;

}

.container-1 a{
    text-decoration: none;
    color: #ffffff;
}
.bar {
    color: #ffffff;
    cursor: pointer;
}



@media  (max-width:1000px) {
    .sticky-header{
        display: none;
    }
  
 
  
    
}

@media  (min-width:1000px) {
    .header-md{
        display: none;
    }
    #side-bar{
        display: none;
    }

    .product .container{
        margin: 25px 80px;
    }

    .container .product-list li{
        width: 30%;
    
    }
    div.footer-section2{
        padding-left: 140px;
    }
  
    
}
@media  (max-width:750px) {
    .header-md .fa-user{
        display: none;
    }

    .founder .container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }

  

  
    
}


 

#side-bar {
    width: 40%;
    height: 100vh;
    background-color: #121212;
    position: fixed;
    margin-top: -42px;
    left: -40%;
    transition: left 0.3s ease-in-out;
}

#side-bar.open {
    left: 0;
}

#side-bar nav{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content:space-between;
}

#side-bar .list-1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 70px;
}

#side-bar .list-2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 0px;
}
#side-bar .list-2 li{

    padding: 15px 10px;
}


.header-md{
    z-index: 20;
}
.bar .fa-close{
    display: none;
}

.container{
    margin: 10px 20px;
}

.product-list{
    display: flex;
    list-style: none; 
    flex-wrap: wrap;
    gap: 10px;
}

.product-list li{
    width: 45%;

}
.product-list li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button{
    background-color: black;
    color: #ffffff;
    padding: 5px 20px;
}

.founder-details{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.founder-details button{

    width: 130px;
    height: 50px;
    font-size: 16px;
}
.founder .container{
    display: flex;
    margin: 50px 40px;
    align-items: flex-start;
    gap: 40px;
}
.container img{
    width: 300px;
    height: 400px;
}
.footer-section1{

    background-color: #121212;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 0px;
    
}
.footer-section1 a{
    text-decoration: none;
    color: #ffffff;
    padding: 10px 0px;
}

.footer-section2{
    background-color: #121212;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-left: 60px;
}
.footer-section2 a{
    text-decoration: none;
    color: #ffffff;
    padding: 10px 10px;
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 100;
}
.footer-section2 span{
    text-decoration: none;
    color: #ffffff;
    padding: 10px 10px;
    font-size: 10px;
    letter-spacing: 2px;
}
